<div class="container">

    <h1 class="text-center rowSpace">Welcome to match finder</h1>

    <div class="row text-center rowSpace">
        <div class="col-6">
            <ul>
                <li>
                    <h2>999999</h2>
                </li>
                <li>
                    <p>Players</p>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>
                    <h2>999999</h2>
                </li>
                <li>
                    <p>Teams</p>
                </li>
            </ul>
        </div>
    </div>
</div>