
<div class="container-fluid">
    <h1 class="text-center">Chat module</h1>
  <div class="row rowSpace">
    <div class="col-12">
      <app-filterchat></app-filterchat>
    </div>
  </div>
  <div class="row rowSpace">
    <div class="col-10 chat-container">
      <app-chatwindow></app-chatwindow>
      <app-matchmaker></app-matchmaker>

    </div>

    <div class="col-2">
      <app-connected-userlist></app-connected-userlist>
    </div>
  </div>

</div>
<!-- <router-outlet></router-outlet> -->
