<nav class="navbar fixed-bottom navbar-white bg-white">
<div class="container-fluid">
  <div class="row">
    <div class="col-4 content-container">
      <h1 class="text-center">LOGO</h1>
      <p>Standardafsnittet af Lorem Ipsum, som er brugt siden 1500-tallet, er gengivet nedenfor for de, der er interesserede.
        Afsnittene 1.10.32 og 1.10.33 fra "de Finibus Bonorum et Malorum" af Cicero er også gengivet i deres nøjagtige udgave
        i selskab med den engelske udgave fra oversættelsen af H. Rackham fra 1914.</p>
      <p>Copyright © 2018 Matchfinder.dk</p>
    </div>

    <div class="col-4 content-container">
      <h1 class="text-center">CONTENT</h1>
      <ul>
        <li>FAQ</li>
        <li>Terms</li>
        <li>Privacy</li>
        <li>Advise</li>
        <li>Matchfind</li>
        <li>Guides</li>
      </ul>
    </div>

    <div class="col-4 content-container">
      <h1 class="text-center">SUPPORT</h1>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputSubject">Subject</label>
          <input type="text" class="form-control" id="exampleInputSubject" placeholder="Type a subject">
        </div>
        <div class="form-group">
          <label for="exampleInputMessage">Message</label>
          <textarea class="form-control" id="exampleInputMessage" placeholder="Please provide as much detail as you can"></textarea>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-success contantBtn">Submit</button>
        </div>
      </form>
    </div>

  </div>
</div>
</nav>