.chatwindow-container {
  height: 100%;
}

.message-content.row:nth-child(even) {
  background-color:#F1F1F1;
}

.message-content.row:nth-child(odd) {
  background-color:#FFFFFF;
}

.card-header-extended {
  /* padding: .75rem 1.25rem; */
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

ul {
  list-style-type: none;
}

.selctedImage {
  background-color: green;
  border: 3px solid green;
}

.border-buttom {
  border-bottom: 1px solid rgba(0,0,0,.03);
}


